export MNEMONIC=""
export SEPOLIA_RPC_URL="https://sepolia.infura.io/v3/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
export ETHERSCAN_API_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# WALLETS THAT CAN VOTE IN THE CONTRACT
export WALLET_TEST_1=""
export WALLET_TEST_2=""

# GATEWAY
export PRIVATE_KEY_GATEWAY_DEPLOYER="717fd99986df414889fd8b51069d4f90a50af72e542c58ee065f5883779099c6"
export PRIVATE_KEY_GATEWAY_OWNER="717fd99986df414889fd8b51069d4f90a50af72e542c58ee065f5883779099c6"
export PRIVATE_KEY_GATEWAY_RELAYER="7ec931411ad75a7c201469a385d6f18a325d4923f9f213bd882bbea87e160b67"

# OFF-CHAIN
export CONTRACT_ADDRESS=""
export PRIVATE_KEY_0=""
export PRIVATE_KEY_1=""
export PRIVATE_KEY_2=""

export NETWORK_URL="https://eth-sepolia.public.blastapi.io"
export GATEWAY_URL="https://gateway.sepolia.zama.ai"
export KMS_CONTRACT_ADDRESS="0x9D6891A6240D6130c54ae243d8005063D05fE14b"
export ACL_CONTRACT_ADDRESS="0xFee8407e2f5e3Ee68ad77cAE98c434e637f516e5"